@import 'assets/scss/mixins/box.scss';
@import 'assets/scss/variables.scss';
@import 'assets/scss/mixins/anchor.scss';


.roadmap {
  @include box;
  @include withAnchor;
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 80px 109px 105px 109px;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -80px;
    bottom: 0;
    top: 0;
    margin-bottom: auto;
    margin-top: auto;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: $purple-800;
    padding: 0 10px;
    border: 30px solid transparent;
    border-left: 34px solid;
    border-right: 34px solid;
    border-image-source: url("../../assets/img/roadmap/border.png");
    border-image-outset: 1;
    border-image-slice: 3.3% 4.5% 3.3% 4.5%;
  }
  &__text {
    display: flex;
    word-break: break-word;
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
