.layout {
    width: 1920px;
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(180deg, rgb(169, 1, 58) 30%, rgb(51, 0, 51) 64%);
    background: -moz-linear-gradient(180deg, rgb(169, 1, 58) 30%, rgb(51, 0, 51) 64%);
    background: linear-gradient(180deg, rgb(169, 1, 58) 30%, rgb(51, 0, 51) 64%);

}
