@import 'assets/scss/mixins/box.scss';
@import 'assets/scss/variables.scss';


.team {
  @include box;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-family: "a_CampusOtlSh", sans-serif;
    font-size: 80px;
    line-height: 100px;
  }
  &__underline {
    max-width: 460px;
    margin-bottom: 40px;
  }
  &__members {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 35%;
    justify-content: space-between;
    grid-row-gap: 100px;
  }
  &__singleMember {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .singleMember {
    &__photo {
      min-width: 100%;
      max-width: $image_max_width;
      max-height: $image_max_height;
      height: max-content;
      border-radius: 22px;
      object-fit: fill;
      overflow: hidden;
      margin-bottom: 20px;
    }

    &__badge {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $purple-800;
      //font-family: "Cinzel", serif;
      font-family: "a_CampusOtlSh", sans-serif;
      width: 100%;
      font-size: 35px;
      line-height: 45px;
      padding: 10px;
      border-radius: 22px;
    }
  }
  .vector {
    position: absolute;
    max-width: 100%;
    max-height: 400px;
    &__top {
      bottom: calc(100% + 20px);
      &_first {
        left: 0;
      }
    }
    &__right {
      left: calc(100% + 20px);
    }
    &__left {
      right: calc(100% + 20px);
      &_sec {
        top: 5%;
      }
    }
  }
}