.withlove {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10;
  &__img {
    z-index: 10;
    max-height: 700px;
    &_heart {
      //align-self: center;
    }
  }
}
